# Interface configuration file for SimLink - 2017
#
# This is the configuration file for the SimLink Interface program
# used in conjunction with the OpenPLC and the Simulink application.
# In order to send and receive data between the Simulink and the
# OpenPLC stations, SimLink needs to know the IP address for the
# machine running the Simulink application and also information
# about the exported variables for each OpenPLC station.
#
# To add variables to one station, type the name of the station
# followed by the command "add" plus the type of variable you
# want to be added. The number after the "=" sign is the UDP
# port used by the simulink UDP connection to send or receive
# the variable. Ex: station0.add(digital_out) = "10001"
#
# The variables added to the station will be connected to the
# OpenPLC buffer in the order they appear. Therefore, the first
# digital_out will be connected to OpenPLC %QX0.0 (coils buffer
# at position 0.0). The second digital_out will be %QX0.1 and so on...
#
# Different types of variables (digital_out, analog_in) are
# connected to different buffers. Therefore if after the two
# digital_out's mentioned above there is a analog_in, it will
# be connected to %IW0 (analog input buffer position 0)

num_stations = "1"
comm_delay = "100"

# ------------
#   SIMULINK
# ------------
simulink.ip = "localhost"

# ------------
#  STATION 0
# ------------
station0.ip = "localhost"
station0.add(digital_in) = "10001"
station0.add(digital_out) = "10002"
